{% style %}
  .bespoke-card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid #cbd5e1;
    border-radius: 25px;
  }

  .bespoke-card .img {
    width: 252px; 
  }

  .titleWLike {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .titleWLike .icon {
    width: 23px;
    height: 32px;
  }

  .splide__arrows {
    position: absolute;
    right: 53px;
    top: -21px;
    display: flex;
  }

  .product_price {
    padding: 4px 0;
    position: absolute;
    top: 0;
    right: 4px;
    font-size: 13px;
    opacity: 0;
    transition: opacity 300ms ease;
  }

  .product_name {
    padding: 4px 0;
    position: absolute;
    left: 4px;
    bottom: 0;
    font-size: 13px;
    opacity: 0;
    transition: opacity 300ms ease;
  }

  .bespoke-card:hover .product_price,
  .bespoke-card:hover .product_name {
    opacity: 1;
  }

  .splide__arrows > button:nth-child(1) {
    order: 1;
    transform: translate(-56px, -16px);
  }

  .splide__arrows > button:nth-child(2) {
    order: 0;
    transform: translate(47px, -16px);
  }
{% endstyle %}

<div class="bespoke-card position-relative">
  <a href="{{ product.url }}" style="width: 100%;">
    <div class="img-fluid">
      <div class="imfd d-none" style="height: 300px;width:100%;background-image: url({{ product.featured_image | img_url: '400x400' }});    border-radius: 25px;"></div>
      <img src="{{ product.featured_image | img_url: '400x400' }}" alt="" style="width: 100%;">
    </div>

   <div class="slide-content-without-city" style="text-align:left;color: #4f4f4f;padding:10px 15px;">
   <div class="truncate" style="color:#666;text-transform: capitalize;min-height:48px;">{{ product.title }}</div>
   <div class="price" style=" text-align:left;font-size:18px; color:#333;/*color:#ec018c;/*color:#222;*/">
      <span style="font-size:15px;" class="moneySymbol">₹</span> <span data-inr="849" class="moneyCal">{{ product.price | money }}</span>
      <span style="text-decoration:line-through; font-size:16px; padding-left: 3px; color:#878787;">
      
     
   </div>
  
   <div style="display:inline-block;color:#e7711b;font-size:14px;  padding-top:15px; ">5.0</div>
   <div style="display:inline-block;"><span class="stars" style="font-size: 18px" data-rating="5.0"><span class="stars-container stars-100">★( 8 )</span></span> <span style="color: #66b266;    font-size: smaller; font-weight: 700;">Today</span>
     
   </div>
</div>
  </a>

</div>